!!!
%html
  %head
    %title
      Pagina de filtro poc
    %link{ :href => "/css/styles.css", :rel => "stylesheet", :type => "tex    t/css", :media => "screen" }

  %body
    %h1 POC - HackDay de filtro de comentario
    #content
      = yield
    %hr
      #footer
        %p
          &copy; 2013. Globo.com
